/**
 * #004D66
 * #085B7F
 * #146F93
 * #2288AD
 * #0599B7
 */

body {
	font-family: 'Open Sans', sans-serif, 'Arial', sans-serif;
	background-color: #272a33;
	width: 100%;
}
/* Wrappers */
/* ------------------------------- */
#wrapper {
	width: 100%;
}
#page-wrapper {
	padding: 0 15px;
	min-height: 568px;
	background-color: #ffffff;
	margin: 0;
}
@media (min-width: 768px) {
	#page-wrapper {
		position: inherit;
		margin: 0 0 0 100px;
		padding: 0 30px;
		min-height: 900px;
		border-left: 1px solid #ffffff;
	}
}
.page-header {
	margin-top: 15px;
	font-weight: 300 !important;
}
a:hover, a:focus {
	text-decoration:none;
}

/**
 * TABLE
 */
.table tbody>tr>td{
	vertical-align:middle;
}

/*table.table tr td div.btn-group { display:none;}
table.table tr:hover td div.btn-group { display:inline-block; }

table.table tr td div.orginal { display:inline-block; }
table.table tr:hover td div.orginal { display:none;}*/

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	background-color: #f0f1f4;
	border-color: #f0f1f4;
	color: #353648;
}

/**
 * AVATAR
 */
.avatar {
    position: relative;
	width: 40px;
	height: 40px;
    display: inline-block;
    border-radius: 50%;
    white-space: nowrap;
    vertical-align: top;
	overflow:hidden;
	background:url(../images/default-profile-picture.jpg) center 10px no-repeat;
	margin-top:5px;
	margin-left:5px;
}
.avatar.main {
	vertical-align: middle;
	margin:0;
}
h5.inline {
	display:inline-block;
	margin-left:8px;
}
.avatar.md {
	width: 120px;
	height: 120px;
}
.avatar img {
	width:100%;
	min-height:100%;
	position:absolute;
	z-index:2;
	left:0;
	top:0;
}
img.profile {
	width:auto!important;
	height:100%;
	min-width:100%;
	min-height:auto!important;
}

/**
 * ACTION ICONS
 */
.btn-group a:first-child i {
	/*margin-left: 10px;*/
}

#side-menu {
	background: #272a33;
}
#side-menu li a {
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
	color: #767e96;
	font-weight: bold;
	font-size: 12px;
	background: #272a33;
}
#side-menu li a.active {
	background: #18191f;
	color: white;
}
#side-menu li a.active i {
	color: white;
}
#side-menu li a:hover {
	background: #1c1e25;
	color: #fff;
}
#side-menu li a:hover i {
	color: #fff;
}
#side-menu li.active a {
	color: #a2a7b8;
	background: #1c1e25;
}
#side-menu li.active a > i {
	color: #a2a7b8;
}
#side-menu li.active .nav-second-level a {
	color: #767e96;
}
#side-menu li.active .nav-second-level a.active {
	background: #131519;
	color: white;
}
#side-menu li.active .nav-second-level a:hover {
	color: #fff;
	background: #15171c;
}
#side-menu li.active .nav-third-level a {
	color: #767e96;
	background: #15171c;
}
#side-menu li.active .nav-third-level a.active {
	background: #0c0d10;
	color: white;
}
#side-menu li.active .nav-third-level a:hover {
	color: #fff;
	background: #0f1013;
}
#side-menu > li > a {
	text-transform: uppercase;
	text-align: center;
	font-size: 11px;
	height: 90px;
	
	overflow: hidden;
	text-overflow: ellipsis;
}
#side-menu > li > a.active:after, #side-menu > li > a.active:before {
	right: -1px;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
#side-menu > li > a.active:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 15px;
	margin-top: -15px;
}
#side-menu > li > a.active:before {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 15px;
	margin-top: -15px;
}
#side-menu > li > a > i {
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
	display: block;
	width: 100%;
	margin: 7px 0;
	color: #5e657b;
}
#side-menu > li > a > .arrow {
	right: 16px;
	top: 50%;
	margin-top: -5px;
	position: absolute;
}
a {
	outline: none!important;
}
a:hover {
	text-decoration:none;
}

/* Navigation */
/* ------------------------------- */
/* Top Right Navigation Dropdown Styles */
@media (min-width: 768px) {
	.navbar-top-links {
		height: 90px;
	}
}
.navbar-top-links li {
	display: inline-block;
}
.navbar-top-links li:last-child {
	margin-right: 15px;
}
.navbar-top-links li a {
	padding: 15px;
	min-height: 50px;
}
.nav .open > a {
	color: #fff;
	background: transparent;
}
.nav .open > a:hover, .nav .open > a:focus, .nav .open > a:active {
	color: #fff;
	background: #2288AD;
}
.navbar-top-links > li > a {
	text-align: center;
	color: #CCD8DB;
	background: transparent;
	float: left;
	-moz-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	-webkit-transition: background 0.5s linear;
	-ms-transition: background 0.5s linear;
	transition: background 0.5s linear;
}
.navbar-top-links > li > a:hover, .navbar-top-links > li > a:focus, .navbar-top-links > li > a:active {
	color: #fff;
	background: #2288AD;
}
.navbar-top-links > li > a i {
	-moz-transition: color 0.3s linear;
	-o-transition: color 0.3s linear;
	-webkit-transition: color 0.3s linear;
	-ms-transition: color 0.3s linear;
	transition: color 0.3s linear;
}
 @media (min-width: 768px) {
	.navbar-top-links > li > a {
		padding: 0;
		height: 90px;
		min-width: 90px;
		line-height: 90px;
	}
}
.navbar-top-links .dropdown-menu li {
	display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
	margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
	padding: 3px 20px;
	min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
	white-space: normal;
}
.navbar-top-links .dropdown-alerts {
	width: 310px;
	min-width: 0;
}
/* Sidebar Menu Styles */
.arrow {
	float: right;
}
.fa.arrow:before {
	content: "\f104";
}
.active > a > .fa.arrow:before {
	content: "\f107";
}
.nav-second-level li, .nav-third-level li {
	border-bottom: none !important;
}
.nav-second-level li a {
	text-align:center;
	font-size:11px !important;
	text-transform:uppercase;
}
.nav-third-level li a {
	padding-left: 52px;
}
 @media (min-width: 768px) {
	.navbar-static-side {
		z-index: 1;
		position: absolute;
		width: 100px;
	}
	.navbar-top-links .dropdown-messages,  .navbar-top-links .dropdown-tasks,  .navbar-top-links .dropdown-alerts {
		margin-left: auto;
	}
}
.notification-icon {
	position: absolute;
	top: 50%;
	right: 50%;
	margin-top: -24px;
	margin-right: -24px;
}
.navbar-brand {
	padding: 0;
	height: 90px;
	line-height: 90px;
	text-align: center;
}
 @media (max-width: 768px) {
	.navbar-brand {
		padding-left: 20px;
	}
}
.brand-logo {
	margin-top: -7px;
}
/* PAGE ENTER ANIMATION
   ========================= */
.fade-in {
	-webkit-animation: fadein 1s ease;
	/* Safari and Chrome */
	-moz-animation: fadein 1s ease;
	/* Firefox */
	-ms-animation: fadein 1s ease;
	/* Internet Explorer */
	-o-animation: fadein 1s ease;
	/* Opera */
	animation: fadein 1s ease;
}
 @keyframes fadein {
	 0% {
	 transform: scale(0);
	}
	 80% {
	 transform: scale(1.3);
	}
	 100% {
	 transform: scale(1);
	}
}

/* Firefox */
@-moz-keyframes fadein {
	 0% {
	 -moz-transform: scale(0);
	}
	 90% {
	 -moz-transform: scale(1.3);
	}
	 100% {
	 -moz-transform: scale(1);
	}
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
	 0% {
	 -webkit-transform: scale(0);
	}
	 80% {
	 -webkit-transform: scale(1.3);
	}
	 100% {
	 -webkit-transform: scale(1);
	}
}
 @-ms-keyframes fadein {
	 0% {
	 -ms-transform: scale(0);
	}
	 80% {
	 -ms-transform: scale(1.3);
	}
	 100% {
	 -ms-transform: scale(1);
	}
}
 @-o-keyframes fadein {
	 0% {
	 -o-transform: scale(0);
	}
	 80% {
	 -o-transform: scale(1.3);
	}
	 100% {
	 -o-transform: scale(1);
	}
}
/****************************************************************************************************************/

.navbar {
	position: relative;
	min-height: 90px;
	margin-bottom: 0;
	border: 1px solid transparent;
}
.navbar:before, .navbar:after {
	content: " ";
	/* 1 */
	display: table;
/* 2 */ }
.navbar:after {
	clear: both;
}
 @media (min-width: 768px) {
	.navbar {
		border-radius: 3px;
	}
}
.navbar-header {
	text-align: center;
	background: #085B7F;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	width: 250px;
}
.navbar-header:before, .navbar-header:after {
	content: " ";
	/* 1 */
	display: table;
/* 2 */ }
.navbar-header:after {
	clear: both;
}
.navbar-header:hover, .navbar-header:active {
	background: #004D66;
}
 @media (max-width: 992px) {
	.navbar-header {
		width: 100%;
	}
}
 @media (min-width: 768px) {
	.navbar-header {
		float: left;
	}
}
.navbar-collapse {
	max-height: 340px;
	overflow-x: visible;
	padding-right: 15px;
	padding-left: 15px;
	border-top: 1px solid transparent;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	-webkit-overflow-scrolling: touch;
}
.navbar-collapse:before, .navbar-collapse:after {
	content: " ";
	/* 1 */
	display: table;
/* 2 */ }
.navbar-collapse:after {
	clear: both;
}
.navbar-collapse.in {
	overflow-y: auto;
}
 @media (min-width: 768px) {
	.navbar-collapse {
		width: auto;
		border-top: 0;
		box-shadow: none;
	}
	.navbar-collapse.collapse {
		display: block !important;
		height: auto !important;
		padding-bottom: 0;
		overflow: visible !important;
	}
	.navbar-collapse.in {
		overflow-y: auto;
	}
	.navbar-collapse .navbar-nav.navbar-left:first-child {
		margin-left: -15px;
	}
	.navbar-collapse .navbar-nav.navbar-right:last-child {
		margin-right: -15px;
	}
	.navbar-collapse .navbar-text:last-child {
		margin-right: 0;
	}
}
.navbar-static-top {
	z-index: 1000;
	border-width: 0 0 1px;
}
 @media (min-width: 768px) {
	.navbar-static-top {
		border-radius: 0;
	}
}
.navbar-fixed-top, .navbar-fixed-bottom {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
}
 @media (min-width: 768px) {
	.navbar-fixed-top, .navbar-fixed-bottom {
		border-radius: 0;
	}
}
.navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px;
}
.navbar-fixed-bottom {
	bottom: 0;
	margin-bottom: 0;
	border-width: 1px 0 0;
}
.navbar-brand {
	float: left;
	padding: 30px 15px;
	font-size: 30px;
	font-weight: 600;
	line-height: 30px;
	text-align: center;
}
 @media (min-width: 768px) {
	.navbar-brand {
		width: 100%;
	}
}
.navbar-brand:hover, .navbar-brand:focus {
	color: white !important;
	text-decoration: none;
}
 @media (min-width: 768px) {
	.navbar > .container .navbar-brand {
		margin-left: -15px;
	}
}
.navbar-toggle {
	position: relative;
	float: right;
	margin-right: 15px;
	padding: 9px 10px;
	margin-top: 28px;
	margin-bottom: 28px;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 3px;
}
.navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
	margin-top: 4px;
}
 @media (min-width: 768px) {
	.navbar-toggle {
		display: none;
	}
}
.navbar-nav {
	margin: 17.5px -15px;
}
.navbar-nav > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px;
}
 @media (max-width: 767px) {
	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		box-shadow: none;
	}
	.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 5px 15px 5px 25px;
	}
	.navbar-nav .open .dropdown-menu > li > a {
		line-height: 20px;
	}
	.navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus {
		background-image: none;
	}
}
 @media (min-width: 768px) {
	.navbar-nav {
		float: left;
		margin: 0;
	}
	.navbar-nav > li {
		float: left;
	}
	.navbar-nav > li > a {
		padding-top: 35px;
		padding-bottom: 35px;
	}
}
 @media (min-width: 768px) {
	.navbar-left {
		float: left !important;
	}
	.navbar-right {
		float: right !important;
	}
}
.navbar-nav > li > .dropdown-menu {
	margin-top: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.navbar-nav.pull-right > li > .dropdown-menu, .navbar-nav > li > .dropdown-menu.pull-right {
	left: auto;
	right: 0;
}
.navbar-default {
	background-color: #146F93;
	border-color: #146F93;
}
.navbar-default .navbar-brand {
	color: white;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #e6e6e6;
	background-color: transparent;
}
.navbar-default .navbar-text {
	color: white;
}
.navbar-default .navbar-nav > li > a {
	color: white;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: white;
	background-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: white;
	background-color: white;
}
.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
	color: white;
	background-color: transparent;
}
.navbar-default .navbar-toggle {
	border-color: white;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #146F93;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #146F93;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: white;
	color: white;
}
 @media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: white;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: white;
		background-color: transparent;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: white;
		background-color: white;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
		color: white;
		background-color: transparent;
	}
}