<div class="row custom-page-header">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <h3>
      <i class="fa fa-credit-card"></i> CUSTOMISE BADGE
    </h3>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 location-group hidden">
    <form class="form-horizontal" role="form">
      <div class="row">
        <label for="location" class="control-label col-lg-4 col-md-4"> {{ translation.GLOBAL.LOCATION}} </label>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <select class="form-control mainSelector" id="location" name="location" ng-model="location" ng-options="location.id as location.name for location in locations" ng-change="changeLocation(location);" ng-disabled="true"></select>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
	<div class="col-md-12">
    	<div id="badge" style="border:1px solid red;">
        
        
            <div gridster="gridsterOptions">
                <ul>
                    <li gridster-item="widget" ng-repeat="widget in dashboard.widgets">
                        <div class="box"><!--ng-controller="CustomWidgetCtrl"-->
                            <div class="box-header">
                                <h3>{{ widget.name }}</h3>
                                <div class="box-header-btns pull-right">
                                    <a title="settings" ng-click="openSettings(widget)"><i class="glyphicon glyphicon-cog"></i></a>
                                    <a title="Remove widget" ng-click="remove(widget)"><i class="glyphicon glyphicon-trash"></i></a>
                                </div>
                            </div>
                            <div class="box-content">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        
        
        </div>
    </div>
</div>