<form name="checkInForm" class="form-horizontal" novalidate autocomplete="off">
    <div class="modal-header dialog-header-confirm">
        <h4 class="modal-title">
        	<i class="fa fa-check"></i> {{translation.DASHBOARD.CHECK_IN}}
            <span class="pull-right h5">{{item.visitor}} <small ng-if="item.sso.length">({{item.sso}})</small></span>
        </h4>
    </div>
    <div class="modal-body">
    	<div class="row">
            <div class="col-xs-3">
                <div>
                    <span class="avatar md">
                        <img src="http://supportcentral.gecdn.com/images/person/temp/{{item.sso}}.jpg" ng-show="showAvatar" />
                        <img class="profile" ng-src="vm/resources/visitorphoto?recordId={{item.id}}" ng-show="item.visitorPic" />
                    	<img class="profile" ng-src="{{item.datastream}}" ng-show="item.datastream" />
                    </span>
                </div>
                <div class="btn-group avatar-btn-popup" role="group" uib-tooltip="{{translation.CAPTURE.CAPTURE_TOOLTIP}}">
                	<button type="button" class="btn btn-success" ng-click="capture();" ng-disabled="!webcamSupported">
                    	<i class="fa fa-camera"></i>
                    </button>
                	<button type="button" class="btn btn-success" avatar="item.datastream" avatar-attrs="{accept:'image/*'}">
                    	<i class="fa fa-upload"></i>
                    </button>
                </div>
                <div class="text-center">
                    
                </div>
            </div>
            <div class="col-xs-9">
                <div class="form-group">
                    <label for="badsge" class="col-sm-3 control-label">
                        <span ng-bind-html="translation.DASHBOARD.BADGE_NUMBER"></span>
                        <span ng-if="!item.sso.length">*</span>
                    </label>
                    <div class="col-sm-9" ng-class="{'has-error': checkInForm.badge.$invalid}">
                        <input type="text" class="form-control" id="badge" name="badge" ng-model="item.badge"  ng-required='!item.sso.length' maxlength="25" />
                    </div>
                </div>
                <div class="form-group" ng-show="item.specialInstruction.length && !isRussia">
                    <label for="specialInstruction" class="col-sm-3 control-label" ng-bind-html="translation.SCHEDULE.LOCATION_INSTRUCTION"></label>
                    <div class="col-sm-9">
                    	<pre>{{ item.specialInstruction }}</pre>
                    </div>
                </div>
                <div class="form-group">
                    <label for="instructions" class="col-sm-3 control-label"> {{ translation.SCHEDULE.INSTRUCTIONS }} </label>
                    <div class="col-sm-9">
                    	<pre>{{ item.instructions }}</pre>
                    </div>
                </div>
                <div class="form-group" ng-if="item.escortRequired">
                    <label for="escortRequired" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9"><span class="btn-success padding3"><i class="fa fa-check"></i> {{ translation.SCHEDULE.ESCORT_REQUIRED }}</span></div>
                </div>
            </div>
        </div>
        
        <div class="row" ng-if="item.chunkedItems.length">
            <h5 class="col-sm-12">
            	<hr /><i class="fa fa-tasks"></i> {{translation.SCHEDULE.MORE_FIELDS}}<hr />
            </h5>
        </div>
        
        <div class="row" ng-repeat="itemGruop in item.chunkedItems">
        	
        	<div class="col-sm-6" ng-repeat="addFiled in itemGruop">
            	<div class="form-group">
                    <ng-form name="innerForm" ng-class="{'required': addFiled.required}">
                        <label for="{{addFiled.key}}" class="col-sm-5 control-label"> {{translation.SCHEDULE.ADDS[ addFiled.key]}} </label>
                        <div class="col-sm-7" ng-class="{'has-error': innerForm.addf.$invalid && addFiled.required}">
                            
                            <input type="text" class="form-control" id="{{addFiled.key}}" name="addf" ng-model="item.adds[addFiled.key]" placeholder="{{ translation.SCHEDULE.ADDS[addFiled.key] }}" maxlength="50" ng-required="addFiled.required" ng-readonly="addFiled.readonly" ng-if="addFiled.type=='TEXT_BOX'" />
                            
                            <div class="checkbox" ng-if="addFiled.type=='CHECK_BOX'">
                                <input type="checkbox" id="{{addFiled.key}}" name="addf" ng-model="item.adds[addFiled.key]" ng-readonly="addFiled.readonly" ng-if="addFiled.type=='CHECK_BOX'" />
                            </div>
                        	
                            <textarea class="form-control" id="{{addFiled.key}}" name="addf" cols="6" rows="4"  ng-model="item.adds[addFiled.key]" placeholder="{{ translation.SCHEDULE.ADDS[addFiled.key+'_PLACEHOLDER'] }}" ng-required="addFiled.readonly" ng-if="addFiled.type=='TEXT_AREA'"></textarea>
                            
                        </div>
                    </ng-form>
            	</div>
            </div>
            
        </div>
                
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning actionBtn" ng-click="cancel()"> {{translation.SCHEDULE.CANCEL}} </button>
        <button class="btn btn-primary actionBtn" id="checkIn" ng-click="ok()" ng-disabled="checkInForm.$invalid" analytics-on analytics-event="Click" analytics-category="Reception" analytics-label="CheckIn"> {{translation.DASHBOARD.CHECK_IN}} </button>
    </div>
</form>
