<div class="row custom-page-header">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <h3> <i class="fa fa-bar-chart-o"></i> {{translation.REPORTS.TITLE}} </h3>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 location-group">
        <form class="form-horizontal" role="form">
            <div class="row">
                <label for="location" class="control-label col-lg-4 col-md-4 hidden-sm hidden-xs"> {{ translation.GLOBAL.LOCATION }} </label>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <select class="form-control mainSelector" id="location" name="location" ng-model="location" ng-options="location.id as location.name for location in locations" ng-change="changeLocation(location);">
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row bg-primary custom-report-block">
    <div class="col-sm-12 col-xs-12 custom-report-menu">
        <label for="Reports" class="col-lg-2 col-md-2 control-label report-type">{{translation.REPORTS.SELECT_REPORT}}</label>
        <div class="btn-group">
        	<button type="button" class="btn btn-primary"> <i class="fa {{reportIcon}}"></i>  {{reportName}}</button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span> </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li ng-repeat="report in reports">
                    <a href="javascript:void(0);" ng-click="changeReport(report);">
                        <i class="fa {{report.icon}}"></i> 
                        {{report.name}}
                    </a>
                </li>
            </ul>
       	</div>
    </div>
</div>

<div ng-include="ReportTemplate"></div>