<div class="row custom-page-header">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <h3>
        	<i class="fa fa-cogs"></i> {{translation.SETTINGS.TITLE}}
        </h3>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 location-group">
        <form class="form-horizontal" role="form">
            <div class="row">
                <label for="location" class="control-label col-lg-4 col-md-4 hidden-sm hidden-xs"> {{ translation.GLOBAL.LOCATION }} </label>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <select class="form-control mainSelector" ng-disabled="onEditPage" id="location" name="location" ng-model="location" ng-options="location.id as location.name for location in locations" ng-change="changeLocation(location);"></select>
                </div>
            </div>
        </form>
    </div>
</div>
<form name="newSiteForm" class="form-horizontal" novalidate autocomplete="off">
	<div class="row bg-primary custom-settings-block">
        <div class="col-sm-12 col-xs-12">
			<h4><i class="fa fa-wrench"></i> {{translation.SETTINGS.ADD_LOCATION}}</h4>
		</div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="search" class="col-sm-3 control-label">{{ translation.SETTINGS.SEARCH }}Search</label>
                <div class="col-sm-8 col-xs-10">
                    <input type="text" class="form-control" placeholder="{{ translation.SETTINGS.SEARCH_LOCATION }}Search">
                    <i ng-show="loadingUsers" class="fa fa-refresh"></i>    
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>	
	</div>
    
	<div class="row form-seperation">
		<div class="col-sm-12 text-right" ng-hide="onEditPage">
        	<button type="button" class="actionBtn btn btn-warning " id="reset" ng-click="resetForm();" >
	        	<i class="fa fa-repeat"></i> 
	            {{ translation.SCHEDULE.RESET }}
	        </button>
	        <button type="submit" class="actionBtn btn btn-primary " id="save" ng-disabled="scheduleForm.$invalid" ng-click="execute('create', false);">
    	    	<i class="fa fa-floppy-o"></i> 
        		{{ translation.SCHEDULE.SAVE }}
        	</button>
    	</div>
 	</div>
 	
</form>