<div class="row custom-page-header">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <h3>
        	<i class="fa fa-user"></i> {{translation.USERS.TITLE}}
        </h3>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 location-group">
        <form class="form-horizontal" role="form">
            <div class="row">
                <label for="location" class="control-label col-lg-4 col-md-4 hidden-sm hidden-xs"> {{ translation.GLOBAL.LOCATION }} </label>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <select class="form-control mainSelector" id="location" name="location" ng-model="location" ng-options="location.id as location.name for location in locations" ng-change="changeLocation(location);"></select>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row bg-primary custom-settings-block">
    <div class="col-sm-12 col-xs-12">
        <a href="javascript:void(0)" ng-click="isCollapsed = !isCollapsed">
            <h4>
                <i class="fa fa-user"></i>	{{translation.USERS.ADD_USERS}}
                <span class="pull-right"><i ng-class="{'fa fa-chevron-right':isCollapsed, 'fa fa-chevron-up':!isCollapsed }"></i></span>
            </h4>
        </a>
    </div>
</div>
<div collapse="isCollapsed">
    <form name="userForm" class="form-horizontal" novalidate autocomplete="off">
    <div class="row">	
        <div class="col-md-6">
            <div class="form-group">
                <label for="searchUser" class="col-sm-3 control-label"> {{ translation.SCHEDULE.SEARCH_USER }}</label>
                <div class="col-sm-9" ng-class="{'has-error': userForm.searchUser.$invalid}">
                    <input type="text" class="form-control" id="searchUser" name="searchUser" ng-model="searchUser" typeahead="user.name as user.name for user in getUsers($viewValue) | filter:$viewValue" placeholder="{{ translation.SCHEDULE.ENTER_SSO }}" typeahead-min-length="3" typeahead-loading="loadingUsers" typeahead-editable="false" typeahead-on-select="onSelectUser($item, $model, $label);" required="required">
                    <i ng-show="loadingUsers" class="fa fa-refresh"></i>
                </div>
            </div>
            <div class="form-group" ng-show="searchUser">
                <label for="access" class="col-sm-3 control-label">{{ translation.USERS.ACCESS_LEVEL }}</label>
                <div class="col-sm-8">
                    <div class="radio" ng-repeat= "a in access">
                        <label>
                           <input type="radio" name="access" value="{{ a.id }}" ng-model="user.access" id="{{ a.id }}" ng-required="true" />
                            {{ translation.USERS[a.id] }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row form-seperation margin-bottom">
        <div class="col-sm-12 text-right">
            <button type="button" class="actionBtn btn btn-warning " id="reset" ng-click="resetForm();" >
                <i class="fa fa-repeat"></i> 
                {{ translation.SCHEDULE.RESET }}
            </button>
            <button type="submit" class="actionBtn btn btn-primary " id="save" ng-disabled="userForm.$invalid" ng-click="addUser();" analytics-on analytics-event="Click" analytics-category="Admin" analytics-label="Add User">
                <i class="fa fa-floppy-o"></i> 
                {{ translation.SCHEDULE.SAVE }}
            </button>
        </div>
    </div>
    </form>
</div>
	
<div class="row bg-primary custom-settings-block">
    <div class="col-sm-12 col-xs-12">
        <a href="javascript:void(0)" ng-click="isCollapsedOne = !isCollapsedOne">
            <h4>
                <i class="fa fa-user"></i>	{{translation.USERS.EDIT_USERS}}
                <span class="pull-right"><i ng-class="{'fa fa-chevron-right':isCollapsedOne, 'fa fa-chevron-up':!isCollapsedOne }"></i></span>
            </h4>
        </a>
    </div>
</div>
<div collapse="isCollapsedOne">
    <div class="row custom-heading">
        <div class="col-md-3 col-sm-6">
            <input type="text" class="form-control searchCustom" id="filterUsers" ng-model="filterUsers" placeholder="{{translation.DASHBOARD.SEARCH}}" />
        </div>
        <div class="col-md-9 col-sm-6">
            <button type="button" class="btn btn-link pull-right help" ng-click="help();">
                <i class="fa fa-question-circle"></i>
            </button>
        </div>
    </div>
	
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-condensed table-hover table-responsive">
                    <thead>
                        <tr>
                            <th class="col-xs-6">{{translation.USERS.NAME}}</th>
                            <th class="col-xs-3">{{translation.USERS.ACCESS_LEVEL}}</th>
                            <th class="col-xs-3 text-center">{{translation.USERS.ACTION}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users | filter: filterUsers">
                            <td>
                                <span class="avatar">
                                    <img src="http://supportcentral.gecdn.com/images/person/temp/{{user.sso}}.jpg" ng-show="user.showAvatar" />
                                    <img src="images/default-profile-picture.jpg" ng-hide="user.showAvatar" />
                                </span>
                                <h5 class="inline">
                            		<strong>{{ user.name }}</strong> <br /> <small>{{ user.sso }} </small>
                            	</h5>
                            </td>
                            <td>
                                <span editable-select="user.access" e-name="access" e-form="accessForm" e-ng-options="a.id as a.name for a in access">
                                    {{ showAccessLevel(user) }}
                                </span>
                            </td>
                            <td class="text-center">
                            	<div class="btn-group tips">
                                    <form editable-form name="accessForm" ng-show="accessForm.$visible" class="form-buttons form-inline" onbeforesave="saveUser($data, user.sso)">
                                        <button type="submit" ng-disabled="accessForm.$waiting" class="btn btn-primary" analytics-on analytics-event="Click" analytics-category="Admin" analytics-label="Update">
                                            {{ translation.SCHEDULE.SAVE }}
                                        </button>
                                        <button type="button" ng-disabled="accessForm.$waiting" ng-click="accessForm.$cancel()" class="btn btn-default">
                                            {{ translation.SCHEDULE.CANCEL }}
                                        </button>
                                    </form>
                                    <div class="buttons" ng-show="!accessForm.$visible" ng-if="(user.sso != currentUserSSO)">
                                        <a href="javascript:void(0);" tooltip="{{translation.DASHBOARD.EDIT_TIP}}" ng-click="accessForm.$show()" ng-show="!accessForm.$visible" analytics-on analytics-event="Click" analytics-category="Admin" analytics-label="Edit">
                                            <i class="fa fa-pencil ring edit"></i>
                                        </a>
                                        <a href="javascript:void(0);" ng-click="remove(user, $index);" tooltip="{{translation.DASHBOARD.DELETE_TIP}}" ng-show="!accessForm.$visible" analytics-on analytics-event="Click" analytics-category="Admin" analytics-label="Delete">
                                            <i class="fa fa-times ring hideicon"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr ng-hide="( users | filter: filterUsers ).length">
                            <td colspan="3"> {{translation.DASHBOARD.NO_RECORDS}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
