<form name="userForm" class="form-horizontal" novalidate autocomplete="off">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="searchUser" class="col-sm-3 control-label"> {{ translation.SCHEDULE.SEARCH_USER}}</label>
                <div class="col-sm-9" data-ng-class="{'has-error': userForm.searchUser.$invalid}">
                    <input type="text" class="form-control" id="searchUser" name="searchUser" ng-model="$parent.searchUser" uib-typeahead="user.name as user.name for user in getUsers($viewValue)" placeholder="{{ translation.SCHEDULE.ENTER_SSO}}" typeahead-min-length="3" typeahead-loading="loadingUsers" typeahead-no-results="noResults" typeahead-editable="false" typeahead-on-select="onSelectUser($item, $model, $label);" required="required">
                    <i ng-show="loadingUsers" class="fa fa-refresh"></i>
                    <div ng-show="noResults">
                    	<i class="glyphicon glyphicon-remove"></i> {{translation.DASHBOARD.NO_RECORDS}}
                    </div>
                </div>
            </div>
            <div class="form-group" ng-show="searchUser">
                <label for="access" class="col-sm-3 control-label">{{ translation.USERS.ACCESS_LEVEL}}</label>
                <div class="col-sm-8">
                    <div class="radio" data-ng-repeat= "a in access">
                        <label>
                            <input type="radio" name="access" value="{{ a.id}}" ng-model="user.access" id="{{ a.id}}" ng-required="true" />
                            {{ translation.USERS[a.id]}} </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row form-seperation margin-bottom">
        <div class="col-sm-12 text-right">
            <button type="button" class="actionBtn btn btn-warning " id="reset" data-ng-click="resetForm();" > <i class="fa fa-repeat"></i> {{ translation.SCHEDULE.RESET}} </button>
            <button type="submit" class="actionBtn btn btn-primary " id="save" data-ng-disabled="userForm.$invalid" data-ng-click="addUser();" analytics-on analytics-event="Click" analytics-category="Admin" analytics-label="Add User"> <i class="fa fa-floppy-o"></i> {{ translation.SCHEDULE.SAVE}} </button>
        </div>
    </div>
</form>
